*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 2rem;
  background: #ebdcb2;
}

.container {
  margin: 1rem auto;
  padding: 2rem;
  width: 100%;
  max-width: 768px;
  background-color: #c9a66b;
  border: 1rem solid #000000;
}

.slider {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto 10rem;
  grid-template-areas:
  "img img"
  "title selector";
  column-gap: 2rem;
  row-gap: 2rem;
  align-items: center;
}

.slider__input {
  display: none;
}

.slider__images-container {
  grid-area: img;
  overflow: hidden;
}

.slider__carousel {
  display: flex;
  width: 500%;
  transition: margin-left 0.5s;
}

#mem1:checked ~ .slider__images-container > .slider__carousel {
  margin-left: 0;
}

#mem2:checked ~ .slider__images-container > .slider__carousel {
  margin-left: calc(0% - 100%);
}

#mem3:checked ~ .slider__images-container > .slider__carousel {
  margin-left: calc(0% - 2 * 100%);
}

#mem4:checked ~ .slider__images-container > .slider__carousel {
  margin-left: calc(0% - 3 * 100%);
}

#mem5:checked ~ .slider__images-container > .slider__carousel {
  margin-left: calc(0% - 4 * 100%);
}

.slider__image {
  width: calc(100% / 5);
  object-fit: contain;
}

.slider__selectors-container {
  grid-area: selector;
  display: flex;
}

.slider__button {
  display: flex;
  padding: 1rem;
  cursor: pointer;
}

.button__icon {
  width: 2rem;
  height: 2rem;
  background-color: #ebdcb2;
  border: 0.3rem solid #662e1c;
  border-radius: 50%;
  transition: all 0.3s;
}

.slider__button:hover > .button__icon {
  background-color: #662e1c;
}

.slider__button:active > .button__icon {
  background-color: yellowgreen;
}

#mem1:checked ~ .slider__selectors-container > .slider__button:nth-of-type(1) > .button__icon,
#mem2:checked ~ .slider__selectors-container > .slider__button:nth-of-type(2) > .button__icon,
#mem3:checked ~ .slider__selectors-container > .slider__button:nth-of-type(3) > .button__icon,
#mem4:checked ~ .slider__selectors-container > .slider__button:nth-of-type(4) > .button__icon,
#mem5:checked ~ .slider__selectors-container > .slider__button:nth-of-type(5) > .button__icon {
  background-color: #af4425;
}

.slider__titles-container {
  grid-area: title;
  font-weight: 900;
  color: #662e1c;
}

.slider__mem-title {
  display: none;
  margin: 0;
  margin-left: 6rem;
  opacity: 0;
}

#mem1:checked ~ .slider__titles-container .slider__mem-title:nth-of-type(1),
#mem2:checked ~ .slider__titles-container .slider__mem-title:nth-of-type(2),
#mem3:checked ~ .slider__titles-container .slider__mem-title:nth-of-type(3),
#mem4:checked ~ .slider__titles-container .slider__mem-title:nth-of-type(4),
#mem5:checked ~ .slider__titles-container .slider__mem-title:nth-of-type(5) {
  display: block;
  animation: slider-names 0.8s both;
}

@keyframes slider-names {
  from {
    margin-left: 6rem;
    opacity: 0;
  }
  to {
    margin-left: 0;
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .container {
    width: 90%;
    max-width: initial;
    margin: 1rem auto;
  }

  .slider {
    grid-template-rows: auto auto 5rem;
    grid-template-areas:
    "img img"
    "selector selector"
    "title title";
  }

  .slider__selectors-container {
    justify-content: center;
  }
}
