*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: black;
}

.container {
  margin: 50vh auto;
  padding: 20px;
  width: 100%;
  max-width: 1000px;
  background-color: lightslategray;
  border: 10px solid lightcoral;
}

.slider {
  display: grid;
  grid-template-areas:
  "img img"
  "title selector";
  row-gap: 20px;
}

.slider__input {
  display: none;
}

@media (max-width: 768px) {
  .slider {
    grid-template-areas:
    "img"
    "selector"
    "title";
  }
}

.slider__images-container {
  grid-area: img;
}

.slider__selectors-container {
  grid-area: selector;
}

.slider__titles-container {
  grid-area: title;
  color: white;
}
